<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Cursos</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Cursos Disponíveis</h1>

            <table>
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Quantidade de Disciplinas</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Análise e Desenvolvimento de Sistemas</td>
                        <td>12</td>

                        <td>
                            <button class="btn btn-info">Visualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
