<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Disciplinas</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Gerenciar Disciplinas</h1>

            <button class="btn btn-success">Nova Disciplina</button>

            <br /><br />

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Carga Horária</th>
                        <th>Docente</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Banco de Dados</td>
                        <td>80h</td>
                        <td>Maria Souza</td>

                        <td>
                            <button class="btn btn-warning">Editar</button>

                            <button class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
