<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Realizar Matrícula</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Realizar Matrícula</h1>

            <form>
                <label>Aluno</label>
                <select name="discente">
                    <option>Selecione um aluno</option>
                </select>

                <label>Disciplina</label>
                <select name="disciplina">
                    <option>Selecione uma disciplina</option>
                </select>

                <button type="submit" class="btn btn-success">
                    Confirmar Matrícula
                </button>
            </form>
        </div>
    </body>
</html>
