<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Solicitações de Cadastro</title>

        <link rel="stylesheet" href="/css/solicitacoes.css" />
    </head>

    <body>
        <div class="container">
            <header class="topo">
                <h1 id="tituloPagina">
                    Solicitações de Cadastro
                </h1>

                <p id="descricaoPagina">
                    Gerencie solicitações pendentes.
                </p>
            </header>

            <section
                class="lista-solicitacoes"
                id="listaSolicitacoes"
            >
                <!-- JS -->
            </section>
            
                <div class="sidebar-footer">
                    <button class="logout-btn">Sair do Sistema</button>
                </div>
        </div>

        <script src="/js/solicitacoes.js"></script>
    </body>
</html>