<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat Interno</title>

        <link rel="stylesheet" href="/css/chat.css" />
    </head>

    <body>
        <div class="chat-container">
            <!-- Lista de Conversas -->
            <aside class="sidebar">
                <div class="sidebar-header">
                    <h3>Contatos</h3>
                    <div class="sidebar-header">
                        <h3>Conversas</h3>

                        <button id="btnNovaConversa">Nova Conversa</button>
                    </div>
                </div>

                <ul id="listaContatos"></ul>

                <hr />

                <h3>Conversas</h3>

                <ul id="listaConversas"></ul>
            </aside>

            <!-- Área do Chat -->
            <main class="chat-area">
                <div class="chat-header">
                    <h3 id="nomeContato">Selecione uma conversa</h3>
                </div>

                <div id="mensagens" class="mensagens">
                    <!-- mensagens -->
                </div>

                <form id="formMensagem" class="chat-input">
                    <input
                        type="text"
                        id="texto"
                        placeholder="Digite uma mensagem..."
                        autocomplete="off" />

                    <button type="submit">Enviar</button>
                </form>
            </main>
        </div>

        <script src="/js/chat.js"></script>
    </body>
</html>
