<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Enviar Mensagem</title>
        <link rel="stylesheet" href="/css/criaAviso.css" />
    </head>
    <body>
        <div class="container">
            <h1>Enviar Mensagem</h1>

            <form>
                <label>Destinatário</label>

                <select>
                    <option>Selecione um usuário</option>
                </select>

                <label>Assunto</label>

                <input type="text" placeholder="Digite o assunto" />

                <label>Mensagem</label>

                <textarea rows="8" placeholder="Digite a mensagem"> </textarea>

                <br /><br />

                <button type="submit" class="btn btn-success">
                    Enviar Mensagem
                </button>
            </form>
            <script src="/js/mural.js"></script>
        </div>
    </body>
</html>
