<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Criar Aviso Geral</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Criar Aviso Geral</h1>

            <form>
                <label>Título</label>

                <input type="text" placeholder="Título do aviso" />

                <label>Descrição</label>

                <textarea rows="8" placeholder="Conteúdo do aviso"> </textarea>

                <label>Data de Expiração</label>

                <input type="date" />

                <br /><br />

                <button type="submit" class="btn btn-warning">
                    Publicar Aviso
                </button>
            </form>
        </div>
    </body>
</html>
