<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Criar Aviso Geral</title>
        <link rel="stylesheet" href="/css/criaAviso.css" />
    </head>
    <body>
        <div class="container">
            <h1>Criar Aviso Geral</h1>

            <div id="mensagemErro" class="alert alert-danger hidden"></div>

            <form id="formMensagem">
                <label for="conversaId">Título</label>
                <input
                    type="text"
                    id="titulo"
                    placeholder="Título do aviso"
                    required />

                <label for="texto">Descrição</label>
                <textarea
                    id="conteudo"
                    rows="8"    
                    placeholder="Conteúdo do aviso"
                    required></textarea>

                <label for="dataExpiracao">Data de Expiração</label>
                <input type="date" id="dataExpiracao" />

                <button type="submit" class="btn btn-warning">
                    Publicar Aviso
                </button>
            </form>
        </div>

        <script src="/js/aviso.js"></script>
    </body>
</html>
