<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notificações</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Notificações do Sistema</h1>

            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th id="colunaAcao">Ações</th>
                    </tr>
                </thead>

                <tbody id="listaAvisos"></tbody>
            </table>
        </div>
        <script src="/js/notificacoes.js"></script>
    </body>
</html>
