<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Histórico de Presenças</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Histórico de Presenças</h1>

            <form>
                <label>Aluno</label>
                <select>
                    <option>Selecione um aluno</option>
                </select>

                <label>Disciplina</label>
                <select>
                    <option>Selecione uma disciplina</option>
                </select>
            </form>

            <br />

            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Situação</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>10/05/2026</td>
                        <td>Presente</td>
                    </tr>

                    <tr>
                        <td>17/05/2026</td>
                        <td>Presente</td>
                    </tr>

                    <tr>
                        <td>24/05/2026</td>
                        <td>Falta</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
