<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Exportar Dados</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Exportar Dados</h1>

            <form>
                <h3>Selecione os dados</h3>

                <label>
                    <input type="checkbox" />
                    Alunos
                </label>

                <br />

                <label>
                    <input type="checkbox" />
                    Docentes
                </label>

                <br />

                <label>
                    <input type="checkbox" />
                    Responsáveis
                </label>

                <br />

                <label>
                    <input type="checkbox" />
                    Disciplinas
                </label>

                <br />

                <label>
                    <input type="checkbox" />
                    Matrículas
                </label>

                <br /><br />

                <button type="submit" class="btn btn-success">
                    Exportar CSV
                </button>

                <button type="button" class="btn btn-info">
                    Exportar Excel
                </button>
            </form>
        </div>
    </body>
</html>
