<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Pré-Cadastro</title>

    <link rel="stylesheet" href="/css/preCadastro.css">
</head>

<body>

    <div class="container">

        <h2>Pré-Cadastro</h2>

        <form id="preCadastroForm">

            <div class="input-group">

                <label for="cpf">
                    CPF
                </label>

                <input
                    type="text"
                    id="cpf"
                    placeholder="Digite seu CPF"
                    required>

            </div>

            <button type="submit">
                Continuar
            </button>

        </form>

        <a href="/login">
            Voltar ao login
        </a>

    </div>

    <script src="/js/preCadastro.js"></script>

</body>
</html>