<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Alunos</title>
        <link rel="stylesheet" href="/css/gerenciarMatriculas.css" />
    </head>
    <body>
        <h1>Lista de Alunos</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Curso</th>
                </tr>
            </thead>

            <tbody id="tabelaAlunos"></tbody>
        </table>

        <script src="/js/gerenciarMatriculas.js"></script>
    </body>
</html>
