<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Nova Disciplina</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <div class="container">
            <h1>Cadastrar Disciplina</h1>

            <form>
                <label>Nome da Disciplina</label>
                <input type="text" />

                <label>Carga Horária</label>
                <input type="number" />

                <label>Professor</label>
                <select>
                    <option>Selecione um docente</option>
                </select>

                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </body>
</html>
